@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.container {
    border:1px solid lightblue;
    box-shadow: 1px 2px 4px black;
    background-color: lightblue;
    font-family: 'Roboto Mono', monospace;
}


.fancy_btn {
    padding:5px 20px;
    height:3rem;
    background:transparent;
    border:2px solid rgb(141, 194, 43);
    font-size: large;
    transition: 0.3s;
    text-transform: uppercase;
    color:black;
}
.login_btn {
        padding:5px 20px;
        height:3rem;
}
.fancy_btn:hover {
    background-color: black;
    color: white;
}

.circle_btn {
    height:3rem;
    width:3rem;
    border-radius: 50%;
    font-size: large;
    background: black;    
}

.ul_li {
    list-style-type: none;
    margin:1px;
    line-height:25px;
}